body:not(.wgh-disabled) .application-main .container {
  width: auto !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  margin-left: 0px !important;
  min-width: 980px;
}
body:not(.wgh-disabled) .application-main .container-lg,
body:not(.wgh-disabled) .footer.container-lg {
  max-width: none !important;
  margin-left: 0px !important;
}

/* Floating PR toolbar */
body:not(.wgh-disabled) .pr-toolbar {
  margin-left: -16px !important;
  margin-right: -16px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

/* Repository Issues */
body:not(.wgh-disabled) #js-repo-pjax-container .repository-content .discussion-timeline {  /* Issue body */
  width: 100% !important;
}
body:not(.wgh-disabled) .repository-content .timeline-new-comment { /* New Issue / issue comment form */
  max-width: 100% !important;
}
body:not(.wgh-disabled) .repository-content .inline-comments .comment-holder, /* Diff / code comments */
body:not(.wgh-disabled) .repository-content .inline-comments .inline-comment-form-container,
body:not(.wgh-disabled) .repository-content .inline-comments .inline-comment-form,
body:not(.wgh-disabled) .repository-content #all_commit_comments .commit-comments-heading,
body:not(.wgh-disabled) .repository-content #all_commit_comments .comment-holder {
  max-width: inherit !important;
}

/* New Preview UI*/
body:not(.wgh-disabled) .new-discussion-timeline { /* Graph cards on contributors / graph list */
  width: 100% !important;
  max-width: 100% !important;
}


/* Repository graph page */
body:not(.wgh-disabled) .repository-content .capped-card-content { /* Graph cards on contributors / graph list */
  width: 100% !important;
}

/* Gists */
body:not(.wgh-disabled) .gist-content-wrapper .container {
  width: auto !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
  min-width: 980px;
}
body:not(.wgh-disabled) .gist-content-wrapper .container-lg {
  max-width: none !important;
}
body:not(.wgh-disabled) .gist-content-wrapper .container-lg .h-card {
  width: 253px !important;
}
