/* General full-page container */
body:not(.wgh-disabled) .application-main .container-xl {
  max-width: none !important;
}
/* General content sub-container */
body:not(.wgh-disabled) .application-main .container-lg  {
  max-width: none !important;
  margin-left: 0px !important;
}

/* Repository home sidebar */
body:not(.wgh-disabled) .react-repos-overview-margin {
  margin-right: 0;
}

/* Commit History and Branches page */
body:not(.wgh-disabled) #js-repo-pjax-container div[style^="--sticky-pane-height:"] > div[class^='Box-sc-']:first-child {
  max-width: none;
}

/* Repository Tags page */
body:not(.wgh-disabled) .application-main .col-11  {
  width: 100%;
}

/* Issue list Assignee alignment */
body:not(.wgh-disabled) #js-repo-pjax-container .js-issue-row .text-right {
  max-width: 303px !important;
}

/* New React layout (2024) */

/* Issues list page */
body:not(.wgh-disabled) .application-main div[style^="--sticky-pane-height:"] > div[class^='Box-sc-'] > div[class^='Box-sc-'] > div[class^='Box-sc-'] > div[class^='Box-sc-']:nth-child(2) > div[class^='Box-sc-'] {
  max-width: none;
}

/* Issue page */
body:not(.wgh-disabled) #js-repo-pjax-container div[data-target="react-app.reactRoot"] > div[class^='Box-sc-'] > div[class^='Box-sc-'] > div[class^='Box-sc-'] > div[class^='Box-sc-'] {
  max-width: none;
}

/* New React layout (2025) */

/* Issues list page */
body:not(.wgh-disabled) .application-main div[data-target="react-app.reactRoot"] div[class^='prc-PageLayout-Content-'] > div[class^='Box-sc-'] {
  max-width: none;
}
/* Issues list page (July 2025) */
body:not(.wgh-disabled) .application-main div[data-target="react-app.reactRoot"] div[class^='ThreePanesLayout-module__ThreePanesLayoutMiddleOnlyPane-'] {
  max-width: none;
}

/* Issue page */
body:not(.wgh-disabled) .application-main div[data-target="react-app.reactRoot"] > div[class^='Box-sc-'] > div[class^='Box-sc-'] > div[class^='Box-sc-'] > div[class^='Box-sc-'] {
  max-width: none;
}
/* Issue page (July 2025)  */
body:not(.wgh-disabled) .application-main div[data-target="react-app.reactRoot"] div[class^='IssueViewer-module__issueViewerContainer-'] > div[class^='Box-sc-'] {
  max-width: none;
}
/* Issue page (Jan 2026) */
body:not(.wgh-disabled) .application-main div[data-target="react-app.reactRoot"] div[class^='ContentWrapper-module__contentContainer--'] {
  max-width: none;
}

/* New issue page */
body:not(.wgh-disabled) .application-main div[data-target="react-app.reactRoot"] div[class^='IssueCreatePage-module__createPaneContainer-'] {
  max-width: none;
}

/* Commit list page */
body:not(.wgh-disabled) .application-main div[data-target="react-app.reactRoot"] div[class^='prc-PageLayout-PageLayoutWrapper-'] {
  max-width: none;
}
