.header .container {
  width: auto !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
  min-width: 980px;
}
#js-repo-pjax-container .container {
  width: auto !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
  min-width: 980px;
}
.full-width .container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* New PR split diff */
.full-width .new-pr-form {
  max-width: none !important;
}

/* Repository Issues */
#js-repo-pjax-container .repository-content .discussion-timeline {  /* Issue body */
  margin-left: -220px;
  padding-left: 220px;
  width: 100% !important;
}
.repository-content .discussion-sidebar {
  width: 200px !important;
}
.repository-content .timeline-new-comment { /* New Issue / issue comment form */
  max-width: 100% !important;
}
.repository-content .inline-comments .comment-holder { /* Diff / code comments */
  max-width: 960px !important;
}
.repository-content .inline-comments .inline-comment-form-container {
  max-width: 960px !important;
}
.repository-content .inline-comments .inline-comment-form {
  max-width: 960px !important;
}

/* Repository pulse page */
.repository-content .authors-and-code .section { /* Contributors bar graph */
  width: 50%;
  height: 180px;
}
.repository-content .authors-and-code .section svg {
  height: 180px;
}

/* Repository graph page */
.repository-content .capped-card { /* Graph cards on contributors / graph list */
  margin:10px 10px 0 0 !important;
}

/* Gists */
.gist-content-wrapper .container {
  width: auto !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
  min-width: 980px;
}
